<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Edit products</h1>
        <% if (updatedItem !== null && updatedItem !== undefined) {%> 
          <p>Item updated successfully: <%= updatedItem.name %> </p>
        <% } %> 
        <h2>Keycaps</h2>
        <% keycaps.forEach((keycap) => { %>
            <form action="/products/keycaps/<%= keycap._id %>/edit?_method=PUT" method="POST">
                <input type="text" name="name" value="<%= keycap.name %>"></input>
                <input type="text" name="image" value="<%= keycap.image %>"></input>
                <input type="text" name="description" value="<%= keycap.description %>"></input>
                <input type="number" name="price" value="<%= keycap.price %>"></input>
                <input type="submit"></input>
            </form>
            <form action="/products/keycaps/<%= keycap._id %>/edit?_method=DELETE" method="POST">
                <input type="submit" value="Delete"></input>
            </form>
        <% }) %>
        <h2>Keyboards</h2>
        <% keyboards.forEach((keyboard) => { %> 
            <form action="/products/keyboards/<%= keyboard._id %>/edit?_method=PUT" method="POST">
                <input type="text" name="name" value="<%= keyboard.name %>"></input>
                <input type="text" name="image" value="<%= keyboard.image %>"></input>
                <input type="text" name="description" value="<%= keyboard.description %>"></input>
                <input type="number" name="price" value="<%= keyboard.price %>"></input>
                <input type="submit"></input>
            </form>
            <form action="/products/keyboards/<%= keyboard._id %>/edit?_method=DELETE" method="POST">
                <input type="submit" value="Delete"></input>
            </form>
        <% }) %>
    </body>
</html>