<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <%- include( 'partials/head.ejs' ) %>
    <body>
        <nav><%- include( 'partials/nav.ejs' )  %>
        </nav>
        <h1>Keyboards</h1>
            <div class="card" style="width: 18rem;" class="d-inline">
                <% keyboards.forEach(function(keyboard) { %>
                <img src="<%= keyboard.image %>" max width="300px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= keyboard.name %></h5>
                  <p class="card-text">$<%= keyboard.price %></p>
                  <a href="/products/keyboards/<%=keyboard._id%>" class="btn btn-primary stretched-link">View</a>
      <% }); %>
    </div>
    <h1>Keycaps</h1>

      </div>
    </body>
</html>