<html>
    <head>
        <%- include( 'partials/head.ejs' ) %>
        <link rel="stylesheet" href="/styles/index.css">
    </head>
    <body>
        <nav><%- include( 'partials/nav.ejs' )  %>
        </nav>
        <h1>Keyboards</h1>
        <% keyboards.forEach(function(keyboard) { %>
            <div class="card col-lg-4" style="width: 18rem;">
                <img src="<%= keyboard.image %>" max width="300px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= keyboard.name %></h5>
                  <p class="card-text">$<%= keyboard.price %></p>
                  <a href="/products/keyboards/<%=keyboard._id%>" class="btn btn-primary stretched-link">View</a>
    </div>
    <% }); %>
    </div>
    </body>
</html>