<!DOCTYPE html>

<html>
    <head>
        <%- include( 'partials/head.ejs' ) %>
        <link rel="stylesheet" href="/styles/show.css">
    </head>
    <body>
        <section><%- include( 'partials/nav.ejs' )  %></section>
            <div>
                <h2><%=keyboard.name%></h2>
                <h3>$<%=keyboard.price%></h3>
                <p><%=keyboard.description%><p>
                <img src="<%= keyboard.image %>">
            </div>
        </div>
    </div>
    </body>
    <footer>
        <%- include( 'partials/footer.ejs' ) %>
        </footer>
</html>